<nav class="navbar navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">
    簡単なブロックチェーン
  </a>
  <div>
    <button routerLink="/new/transaction/pending" class="btn btn-outline-light" *ngIf="thereArePendingTransactions()">
      保留中の取引
      <span class="badge badge-light">{{blockchain.pendingTransactions.length}}</span>
    </button>
    &nbsp;
    <button routerLink="/settings" class="btn btn-outline-light">
      設定
    </button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-light">
      取引作成
    </button>
  </div>
</nav>

<div class="container" *ngIf="showInfoMessage">
  <div class="alert alert-primary alert-dismissable fade show" role="alert">
    <h4 class="alert-heading">はじめに</h4>
    このアプリケーションはブロックチェーン処理の裏側で行われることが見えるサンプルです。
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissInfoMessage()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

